<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="id.babelanja">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:supportsRtl">
        <activity
            android:name=".SearchActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".DetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".TambahJualanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NotifikasiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HadiahActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PesanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TransaksiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".JualanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TentangActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BantuanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfilActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PhoneAuthActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:label="Babelanja"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>